.announces {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* see notes below */
  place-items: start;
  grid-gap: 2rem;
}

.announces > * {
  width: 100%;
}

.announce {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.announce .image-container {
  & a {
    cursor: pointer;
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.infos-container {
  //overlay

  height: 100px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  //style
  display: flex;
  align-items: flex-end;
  padding: 0 1rem 1rem;
  font-size: 1.5rem;
}
.infos-container > a {
  color: $color-gray-lighter;
  width: 100%;
}
.infos-container .other-infos {
  display: flex;
  justify-content: space-between;
  color: $color-gray-light;
}

.infos-container .title {
  font-weight: bold;
  padding-bottom: 0.5rem;
}
/*
.announce .infos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background-color: white;
  z-index: 10;
  box-sizing: border-box;
  .title {
    text-align: right;
    padding-bottom: 1rem;
    a,
    a:hover,
    a:active,
    a:visited {
      color: $color-gray-dark;
      font-weight: bold;
    }
    a:hover {
      color: $color-gray-darker;
    }
  }
  .price {
    // border-top: 1px solid $color-gray-lighter;
    padding-bottom: 1rem;
    text-align: right;
    color: $color-text-price;
    font-weight: bold;
  }

  .other-infos {
    border-top: 1px solid $color-gray-lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    & > p {
      font-size: 12px;
      font-weight: 500;
      color: $color-gray-dark;
    }
  }
}
*/
/* @include phone {
  .announces {
    // grid-gap: 1.5rem 0.5rem;
    & .basic-infos {
      font-size: 1.6rem;
    }
    & other-infos {
      & > * {
        font-size: 1.4rem;
      }
    }
  }
} */
