.avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  height: 150px;
  width: 150px;
  &-img {
    border-radius: 50%;
    box-shadow: 0 0 3 #cebfbf99;
    &--small {
      height: 50px;
      width: 50px;
    }
    &--medium {
      height: 70px;
      width: 70px;
    }
    &--big {
      height: 150px;
      width: 150px;
    }
  }
  &-label {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    // padding: 10px 9px 7px 10px;
    border-radius: 50%;
    background: $color-gray-light;
  }
}
@include phone {
  .avatar {
    width: 80px;
    height: 80px;
  }
}
