.breadcrumb {
  font-size: 1.8rem;
  z-index: 99999;
  & > .home-icon {
    padding-left: 1rem;
  }
  & a {
    color: black;
  }
  & .separator {
    padding: 0 0.5rem;
    font-size: 1.2rem;
  }
}

@include phone {
  .breadcrumb {
    & *,
    & a,
    & a:hover,
    & a:visited,
    & a:active {
      font-size: 1.3rem;
    }
  }
}
