.chat-session {
  display: flex;
  flex-direction: column;

  &-msg {
    background-color: $color-gray-lighter;
    padding: 1.8rem;
    margin-bottom: 3rem;

    &-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.2rem;
      &--avatar {
        margin-left: 0.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      &--infos {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.4rem;
        a {
          color: $color-primary;
          font-weight: bolder;
        }
      }
    }
    &-message {
      color: $color-gray-darkest;
      white-space: pre-wrap;
    }
  }
  &-form {
    & textarea {
      width: 100%;
      border-radius: 2px;
      margin-bottom: 2rem;
    }
  }
}
