/*************************************************************************** /
           Form controls general style
           no width or height or margin
           each element will be adjusted in his container
/***************************************************************************/

//  1 - Desktop
@mixin form-control {
  display: block;
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid $color-gray-light;
  padding: 0.5rem 1.4rem;
  text-align: right;
  outline: none;
}
// Label
.form-label {
  display: block;
  font-size: 1.6rem;
  pointer-events: none;
}

//  2 - Mobile
@include phone {
  .form-label {
    font-size: 1.4rem;
  }
}

@mixin form-control-mobile {
  font-weight: 400;
  font-size: 1.4rem;
  display: block;
  line-height: 2.2;
}

.form-input {
  @include form-control;
}
.form-select {
  @include form-control;
}
.form-btn {
  @include form-control;
  cursor: pointer;
  &--cta {
    border: none;
    background-color: $color-primary;
    color: $color-white;
    outline: none;
    cursor: pointer;
  }
}

@include phone {
  .form-input {
    @include form-control-mobile;
  }
  .form-select {
    @include form-control-mobile;
  }
  .form-btn {
    @include form-control-mobile;
  }
}
@include tablet {
  .form-input {
    @include form-control-mobile;
  }
  .form-select {
    @include form-control-mobile;
  }
  .form-btn {
    @include form-control-mobile;
  }
}

/***************************************************************************/
/*          SEARCH BOX LITE
/***************************************************************************/

.search-box-lite {
  position: relative;
  padding: 0;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0 1rem;
  .form-input {
    margin-left: 1rem;
    width: 100%;
  }
  .form-btn {
    background-color: $color-gray-darkest;
    color: $color-gray-lighter;
  }
}

@include phone {
  .search-box {
    max-width: 100%;
    &__container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
@include tablet {
  .search-box {
    max-width: 100%;
    & .search-button {
      padding: 0 2rem;
      font-size: 2rem;
      font-weight: 400;
    }
    &__advanced {
      & .form-select {
        font-size: 1.4rem;
        //padding: 1.1rem 0.5rem;
      }
    }
  }
}
/***************************************************************************/
/*          Filtration-panel BOX
/***************************************************************************/
.filtration-panel {
  @include border;
  padding: 1.5rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  & .search-default-section {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem 1rem;
  }
  & .search-advanced-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1rem 1rem;
  }
  &--category-page {
    grid-template-columns: 140px 190px auto;
  }
  &--store-page {
    grid-template-columns: 140px 190px auto;
  }
  gap: 1rem 1rem;

  .label {
    margin-left: 1rem;
    font-weight: bold;
  }

  .form-btn {
    background-color: $color-gray-darkest;
    color: $color-gray-lighter;
  }
}

@include phone {
  .filtration-panel {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 1rem;
    & .search-default-section {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem 1rem;
      margin-bottom: 2rem;
    }
    & .search-advanced-section {
      display: grid;
      grid-template-columns: 1fr;

      gap: 1rem 1rem;
    }
    margin-bottom: 2rem;
    .form-input,
    .form-select,
    .label {
      margin-bottom: 1rem;
    }
    .label {
      margin-left: 0;
    }
    .form-btn {
      text-align: center;
    }
  }
}

/***************************************************************************/
/*          Default Form Container
/***************************************************************************/

.form--container {
  @include border;
  padding: 2rem;
  margin: 0px auto;
  max-width: 630px;
  .form-input,
  .form-select,
  .form-btn {
    width: 100%;
  }
  .form-label {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    margin-bottom: 1.2rem;
  }
  .form-btn {
    margin: 4rem 0 2rem;
    background-color: $color-primary;
    color: $color-gray-lighter;
    text-align: center;
  }
}
/***************************************************************************/
/*          miscellaneous
/***************************************************************************/
// profile sections separator
.line {
  margin: 4rem 0;
  width: 100%;
  height: 1px;
  background-color: $color-gray-light;
}
@include phone {
  .line {
    margin: 2rem 0;
  }
}
@include tablet {
  .line {
    margin: 3rem 0;
  }
}
/***************************************************************************/
/*          Form Fields
/***************************************************************************/
.checkbox-grid li {
  display: block;
  float: left;
  width: 33%;
  padding-bottom: 0.6rem;
  & label {
    padding-right: 1rem;
  }
}
input[type='checkbox'] {
  vertical-align: middle;
  margin-top: 0.5rem;
}
@include phone {
  .checkbox-grid li {
    width: 49%;
    font-size: 1.3rem;
    padding-bottom: 0.6rem;
    & label {
      padding-right: 1rem;
    }
  }
}

//**************************************
#paymentOnDelivery {
  margin-left: 1rem;
}

/***************************************************************************/
/*          Separators
/***************************************************************************/

// separators in login & register
.center-separator {
  display: flex;
  line-height: 1em;
  color: gray;
  margin: 1rem auto;
}
.center-separator::before,
.center-separator::after {
  content: '';
  display: inline-block;
  flex-grow: 1;
  margin-top: 0.5em;
  background: gray;
  height: 1px;
  margin-right: 10px;
  margin-left: 10px;
}
@include phone {
  .center-separator {
    margin: 1.3rem auto;
  }
  .center-separator::before,
  .center-separator::after {
    font-size: 1.3rem;
  }
}

// Used in categories select options
.parent-cat-text {
  font-weight: bold;
  color: #000;
}

// Modifier for the search bar input
.search-bar-input {
  border: 0;
  text-indent: 10px;
  padding: 10px 0;
}
// For non arabic fields
.ltr-input {
  font-family: 'Montserrat', sans-serif !important;
  direction: ltr;
  //text-align: left;
}

// Used to fix float problems
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/*
&__advanced {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0;
    & .form-select {
      // background-color: $color-bg-input;
      // color: $color-primary;
      font-size: 1.5rem;
      font-weight: 500;
      //text-indent: 1.7rem;
      line-height: 1.2;
      padding: 1.5rem 1.7rem;
      display: block;
      width: 100%;

      &:not(:last-child) {
        margin-left: 10px;
      }
      &:focus {
        outline: none;
      }
    }}
    
    
    // Used to position icon inside a control
.control-container {
  position: relative;
  margin: 0;
  & .i {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
  }
}*/
