.notify {
  position: absolute;
  right: -1px;
  top: 0px;
  width: 10px;
  height: 10px;
  background: red;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}

@mixin icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  svg {
    width: 20px;
    height: 20px;
    z-index: 9;
  }
}

.svg-icon {
  @include icon;
}
.svg-icon--search {
  @include icon;
}

.svg-icon--navbar {
  @include icon;
}
.svg-icon--footer {
  @include icon;

  fill: $color-gray-light;
  color: $color-gray-light;
  border: 1px solid $color-gray-light;
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 1rem;
}
.svg-icon--navbar-sub-menu {
  @include icon;
  margin-left: 1rem;
}
.svg-icon--breadcrumb {
  @include icon;
  svg {
    width: 17px;
    height: 17px;
  }
}
.svg-icon--on-image {
  @include icon;
  padding: 5px;
  cursor: pointer;

  svg {
    width: 17px;
    height: 17px;
  }
}

.svg-icon--modify-avatar {
  @include icon;
  padding: 5px;
  cursor: pointer;
  svg {
    width: 25px;
    height: 25px;
  }
}
