.auth-header-bloc {
  max-width: 400px;
  margin-bottom: 5rem;
}
.auth-form-bloc {
  margin-bottom: 5rem;
  max-width: 400px;
  & .form-btn {
    text-align: center;
    background-color: $color-primary;
    color: $color-gray-lighter;
  }
  & > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > * {
      margin-bottom: 1rem;
    }
  }
}
.auth-links-bloc {
  max-width: 400px;
  padding-bottom: 3rem;
  font-size: 1.7rem;
  & a {
    display: block;
    color: $color-text-info;
    padding: 1rem 0 0;
  }
}

@include phone {
  .auth-links-bloc {
    font-size: 1.5rem;
  }
}
@include tablet {
  .auth-links-bloc {
    font-size: 1.5rem;
  }
}
