//colors
$color-messages-notification: orangered;
$color-text-info: #0099b9;
$color-primary-lighter: #faf5f2; //#cd0d09; //used
$color-primary-darker: #2e251f; //#cd0d09; //used
$color-primary: #7b4826; //#cd0d09; //used
$color-bg-btn: #222;
//$color-primary: #580000; //used
$color-gray-darkest: #111;
$color-gray-darker: #414143;
$color-gray-dark: #555;
$color-gray-medium: #8c8c8c;
$color-gray-light: #ddd;
$color-gray-lighter: #f8f8f8;

$color-bg-loader: #8b8b8b; // used
$color-bg-mobile: #292929; // used
$color-bg-header: #fff; // used
$color-bg-main: #f6f6f6; // used
//$color-bg-footer: #292929; // used
$color-bg-nav: #fff; // used
$color-bg-footer: #252525; // used

$nav-text-color: #222; // used
$footer-text-color: #eee; // used

$color-bg-input: #eee;
$color-text-brand: #222;
$color-text-brand2: #e90f0f;
$color-text-price: #db0259;
$color-notification: orangered;

$color-white: #fff; //used
$color-black: #000;

$nav-bg-color: #fff; //used

$title-color: #3a3a3a;
//grid
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 4rem;

//font
$default-font-size: 1.6rem;

// layout
$nav-height: 80px; //used
$nav-mobile-top-height: 65px; //reduce height on mobile
$nav-mobile-bottom-height: 70px; //bottom menu height
$footer-height: 90px; //used
