.announce-page {
  margin: 0;
  margin-bottom: 30px;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // gap: 25px 25px;
  & h1 {
    margin-bottom: 1rem;
  }

  &--images {
    display: grid;
    grid-template-rows: 500px auto;
    gap: 15px 5px;
    &-large {
      position: relative;
      background-size: cover;
      background-position: center;
      & img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
    &-small {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-template-rows: 100px;
      grid-auto-rows: 100px;
      justify-items: center;
      grid-gap: 10px;
      grid-row-gap: 10px;

      & > div {
        position: relative;
        height: 100%;
        width: 100%;
      }
      /*
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }*/
    }
  }
  &--infos--general {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0;
    & > span {
      display: flex;
      padding-left: 2rem;
      & > span {
        padding-left: 0.5rem;
      }
      & a,
      a:active,
      a:visited,
      & a:hover {
        color: $color-primary;
      }
    }
  }
  &--infos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-top: 4rem;
    //  common style for details div and contact div
    &--price {
      font-size: 3rem;
      color: $color-primary;
      font-weight: bold;
      margin: 2rem 0;
      padding: 0;
      text-align: center;
    }
    &--desc {
      font-size: 1.7rem;
      white-space: pre-line;
      margin: 0 0 2rem 0;
      line-height: 1.7;
      color: darkcyan;
    }
    &--options {
      display: flex;
      flex-wrap: wrap;
      & p {
        width: 33%;
        padding: 0 0 1rem 3rem;
        &:before {
          content: '• ';
        }
        &:last-child {
          width: 100%;

          padding: 0;
        }
      }
    }
  }
  &--contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;

    &--s1 {
      align-self: start;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      & .form-btn {
        background-color: #fff;
        border: 2px solid $color-primary;
        color: $color-primary;
        text-align: center;
        padding: 1rem 2rem;
        &:not(:first-child) {
          margin-top: 2rem;
        }
        font-family: 'Noto Kufi Arabic', 'montserrat', serif;
        cursor: pointer;
        &:hover {
          border: 2px solid $color-primary;
          color: #fff;
          background-color: $color-primary;
        }
      }
      & .contact {
        padding: 2rem;
        background-color: black;
        cursor: pointer;
        text-align: center;
        color: white;
        border-radius: 5px;
      }
    }
  }
}

@include phone {
  .announce-page {
    &--images {
      grid-template-rows: 300px auto;
    }
    & h1 {
      font-size: 2rem;
    }
    &--infos {
      grid-template-columns: 1fr;
      margin-top: 2rem;
      &--general {
        font-size: 1rem;
        & > span {
          padding-left: 0;
        }
      }
      &--options {
        & p {
          font-size: 1.3rem;
          width: 50%;
          padding: 0 0 0.5rem;
        }
      }
    }
    &--contact {
      grid-template-columns: 1fr;
    }
  }
}

@include tablet {
  .announce-page {
    &--images {
      grid-template-rows: 300px auto;
      // &-small {
      //   grid-template-columns: repeat(auto-fit, minmax(90px, 117px));
      //   grid-template-rows: 100px;
      //   grid-auto-rows: 100px;
      // }
    }
    & h1 {
      font-size: 2.5rem;
    }
    &--infos {
      grid-template-columns: 1fr;
      margin-top: 2rem;
      &--general {
        font-size: 1.3rem;
        & > span {
          padding-left: 0;
        }
      }
      &--options {
        & p {
          font-size: 1.6rem;
          width: 50%;
          padding: 0 0 1rem;
        }
      }
    }
    &--contact {
      grid-template-columns: 1fr;
    }
  }
}
