.article {
  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  p {
    text-align: justify;
    word-break: break-word;
    padding: 1rem 0;
  }
  a,
  a:active,
  a:hover,
  a:visited {
    color: $color-primary;
  }
  ul {
    margin-right: 2rem;
    li {
      padding-bottom: 0.5rem;
    }
  }
  .article-signature {
    margin-top: 4rem;
  }
}
